<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Alexander Nevsky API. API Александр Невский Курицын">
    <meta name="keywords"
          content="alexander, nevsky, kuritsyn, api, александр, невский, курицын, апи, мистер пельменная, alexandr">
    <meta name="author" content="Sergey Gorodnyuk (https://github.com/gorodnyuk)">

    <title>Ошибка</title>

    <style>
        .container {
          width: 100%;
          max-width: 800px;
          padding: 0 15px;
          margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="container" align="justify">
    <div>
        <h1 align="center">Ошибка</h1>
    </div>
    <div>
        <hr>
        <p align="center">Дизайн сайта является победителем конкурса ElonMuskDesignAwards.</p>
        <font size="2">
            <p align="center">Разработчик: [ <a href="http://gorodnyuk.ru" target="_blank">LINK</a> ]</p>
        </font>
    </div>
</div>
</body>

</html>
