<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Alexander Nevsky API. API Александр Невский Курицын">
    <meta name="keywords"
          content="alexander, nevsky, kuritsyn, api, александр, невский, курицын, апи, мистер пельменная, alexandr">
    <meta name="author" content="Sergey Gorodnyuk (https://github.com/gorodnyuk)">

    <title>Alexander Nevsky API</title>

    <style>
        .container {
          width: 100%;
          max-width: 800px;
          padding: 0 15px;
          margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="container">
    <h1 align="center">Alexander Nevsky API</h1>
    <hr>
    <img th:src="@{images/nevsky.jpg}"/>
    <p align="justify"><b>Alexander Nevsky API (Александр Невский API -aka- Курицын)</b> - это бесплатный JSON API для
        получения коровых
        высказываний великого актера Александра Невского (ie. Мистер Пельменная)</p>
    <h2 style="color:#ED760E">Использование</h2>
    <p>Получить рандомное высказывание в JSON формате</p>
    <table border="1" cellpadding="5" style="border-collapse:collapse;">
        <tr>
            <td><p>GET <a href="http://nevskyapi.online/statements/random">http://nevskyapi.online/statements/random</a>
            </p></td>
        </tr>
    </table>
    <p><u>Пример ответа:</u></p>
    <p>{<br>
        "valueRu": "Абсолютли!",<br>
        "valueEn": "Absolutely!"<br>
        }
    </p>
    <hr>
</div>
<p style="text-align: center">Дизайн сайта является победителем конкурса ElonMuskDesignAwards</p>
</body>

</html>
